body{
  margin:0;
  font-family: monospace;
}

header{
  background: #03a9f4;
  text-align: center;
  height: auto;
}

.logo{
  color: #fff;
  font-size: 40px;
  font-family: fantasy;
}

header input {
  font-size: 20px;
  margin: 20px 0px;
}
